body {
  background-color: #1e1e1e;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-color: #49494F;
}

.modal:focus {
  outline-color: #64b5f6;
}

nav .brand-logo {
  cursor: default;
  padding-left: 10px;
}

code {
  color: #64b5f6;
}

.sub-text {
  font-size: .75em;
}

#total {
  margin-top: 7%;
}

.hide {
  display: none;
}

.fixed {
  position: fixed;
}

#side-bar {
  background-color: #2f2f33;
  min-height: 100vh;
}
#side-bar-legend {
  margin-left: 10px;
  margin-right: 10px;
}

#main-content {
  padding-top: 5px;
  margin-left: 360px;
  min-height: 89vh;
}

#landing-text {
 color: #161616; 
 font-weight: bolder;
}

nav .nav-wrapper {
  background-color: #2f2f33 !important;
}

#toast-container {
  background-color: #6a98fc;
  top: auto !important;
  right: auto !important;
  bottom: 2%;
  left:50px;
  border-radius: 5px;
  width:250px;
  text-align: center;
}

#data-list li .collapsible-body li {
  margin-top: 5px;
  margin-bottom: 5px;
}

#data-list li .param {
  margin-left: 2px;
  margin-right: 2px;
}

.ddl-blue {
  background-color: #6a98fc !important;
}
.ddl-blue-text {
  color: #6a98fc !important;
}

.ddl-yellow {
  background-color: #AA9639 !important;
}
.ddl-yellow-text {
  color: #AA9639 !important;
}

.ddl-purple {
  background-color: #403075 !important;
}
.ddl-purple-text {
  color: #605292 !important;
}

.ddl-red {
  background-color: #AA6B39 !important;
}
.ddl-red-text {
  color: #AA6B39 !important;
}

.ddl-green {
  background-color: #226764 !important;
}
.ddl-green-text {
  color: #41817F !important;
}

.ddl-light-grey {
  background-color: #7D818F !important;
}
.ddl-light-grey-text {
  color: #7D818F !important;
}

.ddl-dark-grey {
  background-color: #3C4456 !important;
}
.ddl-dark-grey-text {
  color: #3C4456 !important;
}

.ddl-transparent {
  background-color: transparent !important;
  outline: solid 1px whitesmoke;
}

/* .col {
  border: 1px dashed red !important;
} */