body {
  background-color: #1e1e1e;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav .brand-logo {
  cursor: default;
  padding-left: 10px;
}

.fixed {
  position: fixed;
}

#side-bar {
  background-color: #2f2f33;
  min-height: 100vh;
}

#main-content {
  padding-top: 5px;
  margin-left: 360px;
  min-height: 89vh;
}

/* .flex {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
} */

.landing-text {
 color: #161616; 
 font-weight: bolder;
}

nav .nav-wrapper {
  background-color: #2f2f33 !important;
}

#toast-container {
  background-color: #64b5f6;
  top: auto !important;
  right: auto !important;
  bottom: 2%;
  left:50px;
  border-radius: 5px;
  width:250px;
  text-align: center;
}

/* dark black #101010 */
/* ------------------------------------------------------------------- colors */
/* #85bcfa */
/* #e4d836 */
/* #9f86ff */
/* #e64759 */
/* #1bc98e */
/* #434857 */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #6a98fc !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: #e4d836 !important;
}

.btn-purple, .btn-purple:hover, .btn-purple:active, .btn-purple:visited {
    background-color: #9f86ff !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #e64759 !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #1bc98e !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #434857 !important;
}