body {
  background-color: #1e1e1e;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.modal:focus {
  outline-color: #64b5f6;
}

nav .brand-logo {
  cursor: default;
  padding-left: 10px;
}

code {
  color: #64b5f6;
}

.hide {
  display: none;
}

.fixed {
  position: fixed;
}

#side-bar {
  background-color: #2f2f33;
  min-height: 100vh;
}

#main-content {
  padding-top: 5px;
  margin-left: 360px;
  min-height: 89vh;
}

.landing-text {
 color: #161616; 
 font-weight: bolder;
}

nav .nav-wrapper {
  background-color: #2f2f33 !important;
}

#toast-container {
  background-color: #64b5f6;
  top: auto !important;
  right: auto !important;
  bottom: 2%;
  left:50px;
  border-radius: 5px;
  width:250px;
  text-align: center;
}

.ddl-blue {
  background-color: #6a98fc !important;
}

.ddl-yellow {
  background-color: #e4d836 !important;
}

.ddl-purple {
  background-color: #9f86ff !important;
}

.ddl-red {
  background-color: #e64759 !important;
}

.ddl-green {
  background-color: #1bc98e !important;
}

.ddl-grey {
  background-color: #434857 !important;
}

.ddl-black {
  background-color: #101010 !important;
}